<div>
  <div class='book-shelves'>
    <span class='general-text'>Book Shelves</span>
    <input type='number' max='15' min='0' name='bookshelves'>
  </div>
  <div class='slot'>
      <span class='general-text'>Level 1</span>
      <input type='number' max='10' min='1' name='slot0'>
  </div>
  <div class='slot'>
      <span class='general-text'>Level 3</span>
      <input type='number' max='21' min='2' name='slot0'>
  </div>
  <div class='slot'>
      <span class='general-text'>Level 3</span>
      <input type='number' max='30' min='8' name='slot0'>
  </div>
</div>
